<footer class="bg-secondary pt-2 pe-2 pb-2 ps-2">
  <div class="bg-dark mt-2">
    <p class="text-center" >ECOMMERCER ELELPHANT BD </p>
    <p class="text-center" >COMPANY S.A </p>
      <ul class="social-icons">
    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
    <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
  </ul>
  </div>
</footer>
  
</footer>


<style>
  :root {
    --my-color: #FFFFFF;
  }
  
  footer {
    color: var(--my-color);   
  }

  .text-center{
    padding-top: 10px;
  }

   /* Style  icons footer */
  .social-icons {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }

.social-icons a i {
    color: white;
    font-size: 24px;
    padding: 8px;
    margin-right: 16px;    
  }

  .social-icons a i:hover {
    transform: scale(1.5);
  }
</style>
